*{
    box-sizing: border-box !important;
}

.wrapper{
    padding: 0px 18px !important;
    margin: 20px 0px!important;

    .bar-container {
        background-color: rgba(230, 228, 228, 0.801);
        width: 100%;
        height: 13px;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 8px 8px 7px -3px rgba(135,135,135,0.37);
        
      
      .progress-bar {
        display: flex;
        height: 100%;
        justify-content: center;
        align-content: center;
        align-items: center;
        opacity: 1;
        background: rgb(39, 201, 39);
        border-radius: 10px;
        transition: 0.6s ease-in-out;
      }
    
    }
      
}

