*{
    box-sizing: border-box !important;
}

.question-container{
    display: flex;
    flex-direction: column;

    .text-wrapper{
        margin-top: 25px !important;
        text-align: center !important;
        font-size: 2em;
        font-weight: 700;
         color: #4e4d87;
        letter-spacing: 1px;
    }

}